* {
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 1rem;
}

.input-section {

}